[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
google-cloud-firestore = "*"
gunicorn = "*"

[requires]
python_version = "3.7.4"
